<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="assets/images/favicon.ico">
  <title>streetside</title>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet"/>-->
  <!--<link href="assets/stylesheets/custom.css" rel="stylesheet"/>-->
  <!--<link href="assets/stylesheets/landing-page.css" rel="stylesheet"/>  -->

  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Palanquin" rel="stylesheet">


  <style>
    /* Only necessary if you are using navbar-fixed-top */
    
    body {
      padding-top: 100px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
        <!--  <span class="sr-only">Toggle navigation</span>-->
        <!--  <span class="icon-bar"></span>-->
        <!--  <span class="icon-bar"></span>-->
        <!--  <span class="icon-bar"></span>-->
        <!--</button>-->
        <a href="/" class="navbar-brand"><font color="seagreen"><i class="fa fa-road" aria-hidden="true"></i> StreetSide</font></a>
      </div>
      


      <!-- Collect the nav links, forms, and other content for toggling -->




        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <ul class="nav navbar-nav">
              <li><a href="/visits/new">lend a pass</a></li>
            </ul>
            <li>
              <a href="/users/<%= current_user.id %>">
                <%= current_user.username %>
              </a>
            </li>
            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">
                sign out
              </a>
            </li>
          <% else %>
            <li>
              <a href="/users/sign_up">
                sign up
              </a>
            </li>

            <li>
              <a href="/users/sign_in">
                sign in
              </a>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

<% if current_user.present? %>
<ul class="nav nav-tabs" position="fixed">
  <li role="presentation"><a href="/vehicles">My Vehicles</a></li>
  <li role="presentation"><a href="/parking_permits">My Parking Permits</a></li>
  <li role="presentation"><a href="/lending_history">My Lending History</a></li>
</ul>
<% else %>
<% end %>

<div>

    <%= yield %>
  </div></div>
</body>
</html>
